.action-menu{
    padding: 15px 10px;
}
.action-menu h1{
    margin-bottom: 15px;
}

.input-group{
    padding: 10px 1px;
}

.modal-content{
    width: 116%;
    position: center;
}

.action-menu-content{
    display: flex;
    justify-content:space-between ;
}

.action-menu-content > button.btn.btn-primary{
    height: 20px;
}

.alert{
    display: none;
}

.form-row{
    margin: 6px;
}